body{ 
    font-family: arial;
    color: rgb(17, 0, 255);
    text-align: center;
}
.buttonblue {
    background-color: #2d3dcc;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonblue:hover {
    background-color: #162081;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
